# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# Virtualenvs
ven/
venv/
.venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# Tools / caches
.pytest_cache/
.coverage
htmlcov/

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db
.env.prod
.evn
evn.prod

tmp_imports/